@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.navbar-fonts {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #5f5f5f;
    font-size: 17px;
    font-style: normal;

    &:hover {
        color: #101010;
    }
}