@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.navbar-fonts {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #e2d8d8;
  font-size: 16px;
  font-style: normal;

  &:hover {
    color: #bdffd8;
  }
}

.navbar-button-shadow {
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.7);
}
